<div style="margin: 0px; padding: 0px;">
    <table bgcolor="#eef2f7" width="100%" cellspacing="0px" cellpadding="0px">
        <tbody>
        <tr>
            <td style="padding: 10px 5px;">
                <table width="600px" cellspacing="0px" cellpadding="0px" align="center" style="width: 100% !important; max-width: 600px; margin: 0px auto;">
                    <tbody>
                    <tr>
                        <td bgcolor="#ffffff" style="border-radius: 6px">
                            <table width="100%" cellspacing="0px" cellpadding="0px">
                                <tbody>
                                <tr>
                                    <td align="center" style="padding: 11px 10px 11px">
                                        <a href="https://dom24x7.ru">
                                            <img src="https://dom24x7.ru/resources/images/logo_full_color.png" width="198" href="43" alt="Dom24x7" title="Коммунальный сервис Dom24x7" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 30px 5px 35px;">
                                        <table width="540px" align="center" cellspacing="0px" cellpadding="0px" style="width: 100% !important; max-width: 540px; margin: 0px auto;">
                                            <tbody>
                                            <tr>
                                                <td style="padding: 25px 10px 26px 10px; border: 1px solid #dddfe0; border-radius: 6px;">
                                                    <table width="465px" cellspacing="0px" cellpadding="0px" align="center" style="width: 100% !important; max-width: 465px; margin: 0px auto;">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                {{CONTENT}}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 35px 10px 20px">
                            <table width="100%" cellspacing="0px" cellpadding="0px">
                                <tbody>
                                <tr>
                                    <td align="center" style="padding: 0px 0px 8px; font: 13px/18px Arial,Helvetica,sans-serif; color: #9299a2;">
                                        <p><strong>Мы в социальных сетях:</strong></p>
                                        <a href="https://www.facebook.com/dom24x7/" title="Dom24x7 в Facebook"><img src="https://dom24x7.ru/resources/images/icons/social/fb.png" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
                                        <a href="https://vk.com/dom24x7" title="Dom24x7 в VK"><img src="https://dom24x7.ru/resources/images/icons/social/vk.png" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
                                        <a href="https://www.instagram.com/dom24x7/" title="Dom24x7 в Instagram"><img src="https://dom24x7.ru/resources/images/icons/social/instagram.png" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
                                        <a href="https://twitter.com/dom24x7" title="Dom24x7 в Twitter"><img src="https://dom24x7.ru/resources/images/icons/social/tw.png" width="32" height="32" /></a>&nbsp;&nbsp;&nbsp;
                                        <a href="https://pinterest.com/dom24x7/" title="Dom24x7 в Pinterest"><img src="https://dom24x7.ru/resources/images/icons/social/pinterest.png" width="32" height="32" /></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 0px 0px 8px; font: 13px/18px Arial,Helvetica,sans-serif; color: #9299a2;">
                                        Ваш коммунальный сервис Dom24x7
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 0px 0px 8px; font: 13px/18px Arial,Helvetica,sans-serif; color: #9299a2;">
                                        <a style="color:#74a3c7; text-decoration: none;" href="https://dom24x7.ru">Dom24x7.ru</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 0px 0px 8px; font: 13px/18px Arial,Helvetica,sans-serif; color: #9299a2;">
                                        Новостная рассылка: <a style="color:#74a3c7; text-decoration: none;" href="https://dom24x7.ru/security/subscribe?code={{CODE}}">отписаться</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>