<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td valign="top">
            <img src="{{IMG_URL}}" width="200"
                 style="margin:0; padding:0; border:none; display:block;" border="0" class="img" alt="">
        </td>
        <td width="20px"></td>
        <td valign="top">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td valign="top">
                        <h3 style="margin: 0; padding: 0; margin-bottom: 15px;">{{TITLE}}</h3>
                        {{TEXT}}
                    </td>
                </tr>
            </table>
            <br />
            <!-- button: begin -->
            <table width="100" height="44" cellpadding="0" cellspacing="0" border="0" bgcolor="#2b3a63" style="border-radius: 4px;">
                <tr>
                    <td align="center" valign="middle" height="44" style="font-family: Arial, sans-serif; font-size: 14px; font-weight: bold;">
                        <a href="{{POST_LINK}}" target="_blank" style="font-family: Arial, sans-serif; color: #ffffff; display: inline-block; text-decoration: none; line-height: 44px; width: 200px; font-weight: bold;">Читать</a>
                    </td>
                </tr>
            </table>
            <!-- button: end -->
        </td>
    </tr>
    </tbody>
</table>