{{POSTS}}
<hr />
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center">
            <!-- button: begin -->
            <table width="120" height="44" cellpadding="0" cellspacing="0" border="0" bgcolor="#ac3437" style="border-radius: 4px;">
                <tr>
                    <td align="center" valign="middle" height="44" style="font-family: Arial, sans-serif; font-size: 14px; font-weight: bold;">
                        <a href="https://dom24x7.ru/blog" target="_blank" style="font-family: Arial, sans-serif; color: #ffffff; display: inline-block; text-decoration: none; line-height: 44px; width: 200px; font-weight: bold;">Читать все статьи</a>
                    </td>
                </tr>
            </table>
            <!-- button: end -->
        </td>
    </tr>
</table>