body.modal-open {
    position: static;
}

.toast-message a {
    color: #3498db;
}

.blog-article-box .panel-body ul {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
    line-height: 32px;
    color: #515355;
}

.blog-article-box .panel-body ol {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
    line-height: 32px;
    color: #515355;
}

.blog-box .panel-image .title {
    background-color: black;
    width: 100%;
    padding: 10px;
    opacity: 0.6;
    bottom: 0px;
}

@media screen and (max-width: 767px) {
    .masonry[data-columns]::before {
        content: '1 .col-xs-12';
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .masonry[data-columns]::before {
        content: '2 .col-xs-6';
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .masonry[data-columns]::before {
        content: '3 .col-xs-4';
    }
}

@media screen and (min-width: 1200px) {
    .masonry[data-columns]::before {
        content: '4 .col-xs-3';
    }
}